src/.venv/
src/style_transfer/__pycache__
*.zip
src/data/val2017
src/checkpoints
.ipynb_checkpoints
src/.venv_wsl
src/checkpoints_v2_server
*.run
src/logs
src/logs_v2
src/__pycache__
src/models/checkpoints
.vscode/